
body {
  padding: 20px;
}

header {
  border:solid purple 2px;
  height: 70px;
  width: 700px;
  text-align: center;
}

nav {
  width:
}

hgroup {
  background-color: orange;
  width: 700px;
  height: 150px;
  padding-top: 10px;
  padding-left: 10px;
}

section {
  background-color: lightblue;
  width: 700px;
  height: 150px;
  padding-top: 10px;
  padding-left: 10px;
}

footer {
  background-color: Blue;
  width: 1000px;
  height: 30px;
}
