body, html {
margin: 0px;
height: 100%;
color: #777;
font-size: 15px;
}

.main {
  width: 100%;
  margin: auto;
}

.bgimg1, .bgimg2, .bgimg3 {
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg1 {
  background-image: url("Parallax.jpg");
  min-height: 100%;
}

.bgimg2 {
  background-image: url("kodning.jpg");
  min-height: 400px;
}

.bgimg3 {
min-height: 400px;
background-image: url("plugin.jpg");
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.top-container {
  background-color: #333;
  height: 50px;
  margin: 0px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
  }
.top-container h1 {
  color:white;
  font-size: 70px;
}
  .header {
  height: 160px;
  background-color: #333;
  }
    .inside-header {
      float:left;
      width: 33%;
      height: 100%;
      text-align: center;
    }
        .inside-header2 {
          float:left;
          width: 33%;
          height: 100%;
          text-align: center;
        }
            .inside-header3 {
              float:left;
              width: 33%;
              height: 100%;
              text-align: center;
            }
              .inside-header2 {
                float:left;
                width: 33%;
                height: 100%;
                text-align: center;
              }
                  .inhh {
                    background-color: orange;
                    Float: left;
                    padding: 20px;
                    border-left: 1px solid black;
                    border-right: 1px solid black;
                    Width: 120px;
                  }
            .inside1 {
              float:left;
              width: 33%;
              height: 100%;
              text-align: center;
            }
          .inside2 {
            float:left;
            width: 33%;
            height: 100%;
            text-align: center;
          }
      .inside3 {
        float:left;
        width: 33%;
        height: 100%;
        text-align: center;
      }
.inside4 {
  float:left;
  width: 33%;
  height: 100%;
  text-align: center;
}

h1 {
padding:0px;
margin:0px;
}

p {
  color:white;
  font-family: "BebasNeue";
}
.secret {
  background-color: blue;
  width: 100px;
  height: 100px;
  opacity: 0;

}
