.ok {
  min-height: 500px;
  width: 500px;
  border: 2px solid black;
}
.first {
  min-height: 40px;
  border-bottom: 2px solid black;
  padding: 5px 0px 0px 5px;
}
.second {
  min-height: 40px;
  border-bottom: 2px solid black;
  padding: 5px 0px 0px 5px;
}
.third {
  min-height: 40px;
  border-bottom: 2px solid black;
  padding: 5px 0px 0px 5px;
}
.forth {
  min-height: 40px;
  border-bottom: 2px solid black;
  padding: 5px 0px 0px 5px;
}
.cube1 {
  min-height: 40px;
  width: 40px;
  border: 2px solid black;
  margin: 5px;
}
.cube2 {
  min-height: 40px;
  width: 40px;
  border: 2px solid black;
  margin: 5px;
}
.cube3 {
  min-height: 40px;
  width: 40px;
  border: 2px solid black;
  margin: 5px;
}
.cube4 {
  min-height: 40px;
  width: 40px;
  border: 2px solid black;
  margin: 5px;
}
